<div class="container mt-4">
  <h2>Sve narudžbine</h2>
  
  @if(isLoading){
      <div>
        <p>Učitavanje narudžbina...</p>
      </div>
  }
  @else{
    @if(orders.length > 0){
        @for (order of orders; track $index) {
            <div class="card mb-3">
                <div class="card-header">
                Narudžbina #{{ order.id }} - Datum: {{ order.orderDate | date:'short' }}
                </div>
                <div class="card-body">
                <ul class="list-group list-group-flush">
                    @for (item of order.items; track $index) {
                        <li class="list-group-item">
                            <p>
                                **{{ item.name }}** - {{ item.price | currency:'EUR':'symbol' }} x {{ item.quantity }} =
                                <span class="fw-bold">{{ item.price * item.quantity | currency:'EUR':'symbol' }}</span>
                            </p>
                        </li>
                    }
                </ul>
                </div>
            </div>
        }
    }
    @else {
        <ng-template #noOrders>
            <p class="text-center">Nema pronađenih narudžbina.</p>
        </ng-template>
    }
  }
</div>